@page
@model TallerWeb.Pages.User.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.firtsName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.firtsName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.lastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.lastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.RealeseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.RealeseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Users.userName">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
