@page
@model TallerWeb.Pages.User.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create           </a>
     <a asp-page="Login">Login</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].firtsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].RealeseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firtsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealeseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.userName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.userName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.userName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
